<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>ua.todo.view.TaskServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/todo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>ua.todo.view.AddTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>ua.todo.view.UpdateTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <servlet-class>ua.todo.view.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTasksServlet</servlet-name>
        <servlet-class>ua.todo.view.GetTasksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTasksServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
</web-app>
