
.btn {
    background-color: red;
    color: black;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    width: 82%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.footer {
    display: flex;
    width: 750px;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}

.footer > div {
    margin: 10px;
    text-align: center;
}

.del {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 4px;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    height: 28px;
    font-size: 13px;
}

input[type="submit"].btn:hover {
    cursor: grab;
    border-width: 2px;
    border-color: black;
}

.link {
    border: 1px solid #ccc;
    background: #fffeff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: .2em .75em;
    text-decoration: none;
    color: #000000;
}

.link:hover {
    color: #9e0006;
}

hr {
    border: none;
    background-color: #DC3545;
    color: #DC3545; /* Цвет линии для IE6-7 */
    height: 2px;
    width: 800px;
    align-content: center;
}
