<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>UserIndexServlet</servlet-name>
        <servlet-class>web.present.UserIndexServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserIndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>web.present.UserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>web.present.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>web.present.UserViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>web.present.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserClearServlet</servlet-name>
        <servlet-class>web.present.UserClearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserClearServlet</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User404Servlet</servlet-name>
        <servlet-class>web.present.User404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User404Servlet</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
</web-app>
